.chbody {
    background: $moccasin;
}

.chheader {
    background: url("../img/ch-huygens-img/chheader.jpg") no-repeat;
    background-size: cover;
    padding: $chheader-padding;
}

.chmenu {
    background: $moccasin;
}

.center_pos {
    text-align: center;
}

.chfooter p {
    background: $coral;
}