$approx-black: #111111;
$light-cyan: #E0FFFF;
$white: #FFFFFF;
$gainsboro: #DCDCDC;
$light-slate-gray: #778899;
$gray: #808080;
$silver: #C0C0C0;
$powder-blue: #B0E0E6;
$steel-blue: #4682B4;
$royal-blue: #4169E1;
$coral: #FF7F50;
$moccasin: #FFE4B5;
$black: #000000;
$pale-turquoise: #AFEEEE;
