$alignment: center;
$padding-val: .75em;

.footer p {
    font {
        size: 14px;
        style: italic
    }
    background: $footer-bg-color;
    text-align: $alignment;
    padding: $padding-val;
 }
