.header {
    @each $name, $url in $name-url {
        &-#{$name} {
            background: url($url) no-repeat {
                size: cover;
            }
            padding: $header-padding;
        }
    }
}
