$rv-width: 150px;
$rv-height: 400px;
$rv-padding-val: 10px;
$rv-margin-left: .5em;
$rv-float: right;


.right_void {
    float: $rv-float;
    width: $rv-width;
    height: $rv-height;
    padding: $rv-padding-val;
    margin-left: $rv-mafgin-left;
}