$name-url: (
    sirius: "../img/headers-img/sirius.jpg",
    agn: "../img/headers-img/agn.jpg",
    blackhole: "../img/headers-img/blackhole.jpg",
    pulsar: "../img/headers-img/pulsar.jpg",
    quasar: "../img/headers-img/quasar.jpg",
    smf: "../img/headers-img/smf.jpg",
    supernova: "../img/headers-img/supernova.jpg"
);

$page-font-size: 16px;
$header-font-size: 150%;
$footer-padding: 0.75em;
$font-size-val: 14px;
$header-padding: 5em;
$menu-width: 200px;
$menu-height: 400px;
$menu-margin: 0.5em;
$dvs-menu-padding: 5px;
$rv-width: 200px;
$rv-height: 400px;
$rv-margin-val: 0.5em;
$img-first-t-margl: 0.5em;
$img-first-t-margt: 0.5em;
$img-second-t-marg: 1em;
$img-modif-margt: 1em;
$img-modif-margin: 1em;
$img-max-width: 100%;
$chheader-padding: 3em;

// Variables for printing
$h1-font-size: 150%;
$table-border-width: 3px;
$img-border-width: 3px;
$first-type-margin-l: 0.5em;
$first-type-margin-t: 0.5em;
$first-type-add-margin-t: 1em;
$second-type-add-margin: 1em;
$footer-p-font-size: 14px;
