@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "colors";
@import "variables";

@media (orientation: portrait) {
    .menu {
        overflow: hidden;
    }

    .menu > ul li {
        display: block;
        background: $pale-turquoise;
        padding: $menu-padding;
    }

    img {
        max-width: $img-max-width;
    }

    .right-block {
        display: none;
    }
}
