<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>index</title>
    </head>
    <body>
        <div>
            <h1>Contents</h1>
            <ul>
                <li><a href="../sirius.html">Sirius</a></li>
                <li><a href="../st_magn_field.html">Stellar magnetic field</a></li>
                <li><a href="../supernova.html">Supernova remnant</a></li>
                <li><a href="../black_hole.html">Black hole</a></li>
                <li><a href="../pulsar.html">Pulsar</a></li>
                <li><a href="../agn.html">Active galactic nucleus</a></li>
                <li><a href="../quasar.html">Quasar</a></li>
            </ul>
        </div>
    </body>
</html>
