<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>index</title>
        <link rel="stylesheet" type="text/css" href="../../css/output.css">
        <link rel="stylesheet" type="text/css" href="../../css/indexcss/indexoutput.css">
    </head>
    <body>
        <div class="menu nav">
            <h3>Contents</h3>
            <ul>
                <li class="sirius-icon"><a href="../sirius.html">Sirius</a></li>
                <li class="smf-icon"><a href="../st_magn_field.html">Stellar magnetic field</a></li>
                <li class="supernova-icon"><a href="../supernova.html">Supernova remnant</a></li>
                <li class="blackhole-icon"><a href="../black_hole.html">Black hole</a></li>
                <li class="pulsar-icon"><a href="../pulsar.html">Pulsar</a></li>
                <li class="agn-icon"><a href="../agn.html">Active galactic nucleus</a></li>
                <li class="quasar-icon"><a href="../quasar.html">Quasar</a></li>
            </ul>
        </div>
    </body>
</html>
