@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #111111;
    background: #FFE4B5;
}

h1 {
    font-size: 150%;
    text-align: center;
}

p {
    text-align: justify;
}

a, a:visited {
    text-decoration: none;
    color: #4682B4;
}

a:hover {
    text-decoration: underline;
}

.header {
    background:url(../img/21.jpg) no-repeat;
    background-size: cover;
    padding: 3em;
}

.right_void, .left_void {
    width: 200px;
    padding: 10px;
}

.right_void {
    float: right;
    margin-left: 0.5em;
}

.left_void {
    float: left;
    margin-right: 0.5em;
}

.content {
    overflow: hidden;
}

img {
    width: 300px;
    height: 500px;
    padding: 0;
    border: 1px solid #111111;
}

.center_pos {
    text-align: center;
}

.footer {
    font-size: 14px;
    background: #FF7F50;
    text-align: center;
    padding: 0.75em;
}