$iconname-iconurl: (
    sirius-icon: "../../icons/link1.png",
    agn-icon: "../../icons/link2.png",
    blackhole-icon: "../../icons/link3.png",
    pulsar-icon: "../../icons/link4.png",
    quasar-icon: "../../icons/link5.png",
    smf-icon: "../../icons/link6.png",
    supernova-icon: "../../icons/link7.png"
);

$idx-bg-size: 20px;
$idx-padding: 30px;
$nav-width: 300px;
$nav-height: 400px;
