<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>Christiaan Huygens</title>
        <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    </head>
    <body class="chbody">
        <div class="chheader">
            <h1>Christiaan Huygens</h1>
        </div>
        <div class="menu chmenu"></div>
        <div class="right_void"></div>
        <div class="content">
            <p>
                Christiaan Huygens, (14 April 1629 – 8 July 1695) was a prominent Dutch mathematician and scientist. He is known particularly as an astronomer, physicist, probabilist and horologist.
            </p>
            <p>
                Huygens was a leading scientist of his time. His work included early telescopic studies of the rings of Saturn and the discovery of its moon Titan, the invention of the pendulum clock and other investigations in timekeeping. He published major studies of mechanics and optics (being one of the most influential proponents of the wave theory of light), and pioneered work on games of chance.
            </p>
            <img src="../../img/ch-huygens-img/ch-h-1.gif" alt="Christiaan Huygens" class="third-type">
        </div>
        <div>
            <p class="center_pos"><a href="../sirius.html">Back</a></p>
        </div>
        <div class="footer chfooter">
            <p>&copy; 2018 Mell Nelson</p>
        </div>
    </body>
</html>